@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
}

.wrapper {
  overflow: clip;
  min-block-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 84.375rem;
  margin-inline: auto;
  padding-inline: 0.9375rem;
}

@media (any-hover: hover) {
  a:hover {
    color: #e74848;
  }
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  display: none;
}

.open body {
  overflow: hidden;
}

.btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1e2832;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background: #ff6f61;
}

.header {
  background: rgba(30, 40, 50, 0.05);
}

.top-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.9375rem;
  padding-bottom: 1.5625rem;
  border-bottom: 0.0625rem solid #e3e3e3;
  margin-bottom: 1.875rem;
  gap: 0.625rem min(0.5101rem + 1.0235vw, 1.375rem);
}
@media (max-width: 62.37375em) {
  .top-header {
    margin-bottom: 1.25rem;
  }
}
.top-header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  border: 0.0625rem solid #e3e3e3;
  border-radius: 0.5rem;
  padding: 0.25rem;
}
.top-header__search:focus-within {
  border: 0.0625rem solid #FF6F61;
}
@media (max-width: 62.37375em) {
  .top-header__button img {
    width: 2.1875rem;
    height: 2.1875rem;
  }
}
@media (max-width: 28.75em) {
  .top-header__button img {
    width: 1.5625rem;
    height: 1.5625rem;
  }
}
.top-header__input {
  color: #e74848;
}
@media (max-width: 40.625em) {
  .top-header__input {
    display: none;
  }
}
.top-header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11.25rem;
          flex: 0 0 11.25rem;
}
@media (max-width: 28.75em) {
  .top-header__logo {
    -ms-flex-preferred-size: 9.375rem;
        flex-basis: 9.375rem;
  }
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (max-width: 28.75em) {
  .actions-header {
    gap: 0.3125rem;
  }
}
.actions-header__account, .actions-header__shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.actions-header__icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 62.37375em) {
  .actions-header__icon {
    width: 2.1875rem;
    height: 2.1875rem;
  }
}
@media (max-width: 28.75em) {
  .actions-header__icon {
    width: 1.5625rem;
    height: 1.5625rem;
  }
}
@media (max-width: 62.37375em) {
  .actions-header__text {
    display: none;
  }
}
.actions-header__burger {
  display: none;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.875rem;
  height: 1.125rem;
  cursor: pointer;
}
.actions-header__burger span {
  width: 80%;
  height: 0.125rem;
  background-color: #1e2832;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.actions-header__burger::after, .actions-header__burger::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #1e2832;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.actions-header__burger::after {
  top: 0;
}
.actions-header__burger::before {
  bottom: 0;
}
.actions-header__burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.actions-header__burger.active::before {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.actions-header__burger.active::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media (max-width: 62.37375em) {
  .actions-header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.bottom-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 62.37375em) {
  .bottom-header__list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(0.3125rem);
            backdrop-filter: blur(0.3125rem);
    position: fixed;
  }
}

.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__hero {
  -webkit-margin-after: clamp(3rem, 2rem + 4.2989vw, 5.625rem);
          margin-block-end: clamp(3rem, 2rem + 4.2989vw, 5.625rem);
}

.hero {
  background: url("../img/hero/left-flower.png") 0 75% no-repeat, url("../img/hero/right-flower.png") 100% 70% no-repeat hsl(240, 5%, 96%);
}
.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5.75rem;
     -moz-column-gap: 5.75rem;
          column-gap: 5.75rem;
  row-gap: 2.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-block: 5rem;
}
@media (max-width: 50.625em) {
  .hero__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-block: 2.5rem;
    padding-right: 0;
  }
}
@media (max-width: 50.625em) {
  .hero__description {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
}
.hero__title {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: clamp(2.25rem, 1.25rem + 3.8895vw, 4.625rem);
  font-weight: 300;
  line-height: 0.74324;
  margin-bottom: clamp(0.75rem, -0.1016rem + 3.6336vw, 2.96875rem);
}
.hero__text {
  max-width: 43.75rem;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 0.6642rem + 1.433vw, 1.75rem);
  line-height: 1.8333;
  margin-bottom: clamp(0.75rem, -0.4375rem + 5.0665vw, 4.125rem);
}
@media (max-width: 50.625em) {
  .hero__text {
    max-width: 31.25rem;
  }
}
.hero__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.5rem;
  padding: 1.1875rem 1.625rem;
}
.hero__button span {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 0.875rem + 1.1259vw, 1.875rem);
}
.hero__picture {
  position: relative;
  vertical-align: top;
  border: 0.125rem solid rgba(0, 0, 0, 0.25);
  border-radius: 37.7358% 0/29.5203% 0;
  aspect-ratio: 424/562;
  inline-size: min(100%, 26.5rem);
}
.hero__picture img {
  margin-left: -1.125rem;
  margin-top: -1.25rem;
  border-radius: 37.7358% 0/29.5203% 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 50.625em) {
  .hero__picture {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.main__brands {
  -webkit-margin-after: clamp(3rem, 1.9925rem + 4.2989vw, 5.625rem);
          margin-block-end: clamp(3rem, 1.9925rem + 4.2989vw, 5.625rem);
}

.brands__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 14px 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.brands__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 12.5rem;
          flex: 0 12.5rem;
  aspect-ratio: 200/70;
}
@media (max-width: 50em) {
  .brands__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.75rem;
            flex: 0 0 8.75rem;
  }
}
.brands__image {
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main__popular {
  margin-bottom: 8.75rem;
}

@media (88.875em <= width) {
  .popular__container {
    position: relative;
  }
}
.popular__title {
  color: #000;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: clamp(1.5rem, 1.2601rem + 1.0235vw, 2rem);
  text-transform: uppercase;
}
@media (88.875em <= width) {
  .popular__title {
    position: absolute;
    inset-block-end: 0.5rem;
    inset-inline-end: 1.875rem;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg) translateX(100%);
        -ms-transform: rotate(180deg) translateX(100%);
            transform: rotate(180deg) translateX(100%);
  }
}
@media (width < 88.875em) {
  .popular__title {
    -webkit-margin-after: clamp(0.75rem, 0.4621rem + 1.2282vw, 1.5rem);
            margin-block-end: clamp(0.75rem, 0.4621rem + 1.2282vw, 1.5rem);
  }
}
.popular__content {
  display: grid;
  gap: 1.5rem;
  grid-template: repeat(2, 1fr)/repeat(auto-fill, minmax(15.625rem, 1fr));
}
@media (min-width: 34.375em) {
  .popular__item:nth-child(10n+1), .popular__item:nth-child(10n+8) {
    grid-column: span 2;
    grid-row: span 2;
  }
}
.popular__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1; /* зробили квадратними зображення - співвідношення сторін 1 к 1 */
}

.main__products {
  margin-bottom: 8.75rem;
}

.products__title {
  font-family: "Roboto", sans-serif;
  color: #000;
  text-align: center;
  font-size: clamp(2rem, 1.5682rem + 1.8424vw, 3.125rem);
  font-weight: 500;
  text-transform: capitalize;
  -webkit-margin-after: clamp(1rem, 0.6642rem + 1.433vw, 1.875rem);
          margin-block-end: clamp(1rem, 0.6642rem + 1.433vw, 1.875rem);
}
.products__filter {
  -webkit-margin-after: clamp(1rem, 0.5442rem + 1.9447vw, 2.1875rem);
          margin-block-end: clamp(1rem, 0.5442rem + 1.9447vw, 2.1875rem);
}
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(0.75rem, 0.0783rem + 2.8659vw, 2.5rem);
}
.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.75rem clamp(0.75rem, 0.0783rem + 2.8659vw, 2.5rem);
}
.filter__link {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  text-transform: capitalize;
}
.filter__link--active {
  color: #000;
  font-weight: 600;
  text-transform: capitalize;
}
.filter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  padding: 0.3125rem 0.9375rem 0.3125rem 2.5rem;
}
.filter__button::before {
  content: "";
  position: absolute;
  top: 23%;
  left: 10%;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: url(../img/products/filter-icon.svg) center/cover no-repeat;
}

.gallery__card {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(auto-fill, minmax(15.625rem, 1fr));
  gap: 1.5rem;
}

.card-gallery__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card-gallery__content {
  position: relative;
  margin-bottom: 1.125rem;
}
.card-gallery__sticker {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  gap: 0.5rem;
  top: 5.5%;
  left: 0%;
}
.card-gallery__images {
  width: 100%;
  aspect-ratio: 312/400;
}
.card-gallery__description {
  padding-inline: 0.625rem;
}

.stickers__item {
  display: inline;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  background: #1e2832;
  color: #fff;
  line-height: 1.3333;
  padding: 0.25rem 0.75rem;
  text-transform: uppercase;
}
.stickers__item--hot {
  background-color: #e74848;
}
.stickers__item--sale {
  background-color: #000;
}
.stickers__item--limited {
  background-color: rgba(255, 255, 255, 0.7019607843);
  color: #1e2832;
}

.description__title {
  color: #000;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.description__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.description__type {
  color: rgba(0, 0, 0, 0.5);
}
.description__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}
.description__price {
  font-weight: 600;
}
.description__price--old {
  color: #000;
}
.description__price--sale {
  color: #ff6f61;
}

.main__zara {
  -webkit-margin-after: clamp(3rem, 0.793rem + 9.4166vw, 8.75rem);
          margin-block-end: clamp(3rem, 0.793rem + 9.4166vw, 8.75rem);
}

.zara {
  position: relative;
  isolation: isolate;
  color: hsl(0, 0%, 100%);
  background: url(../img/zara/zara-bg-black.webp) center/cover, hsl(220, 60%, 1%);
  overflow: hidden;
}
.zara__container {
  -webkit-padding-before: clamp(1.5rem, -0.625rem + 9.0072vw, 7rem);
          padding-block-start: clamp(1.5rem, -0.625rem + 9.0072vw, 7rem);
}
.zara__model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.125rem 2.25rem;
}
@media (max-width: 40.625em) {
  .zara__model {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.zara__description {
  inline-size: 33.5625rem;
  -webkit-padding-after: clamp(3.75rem, 1.5rem + 5.0613vw, 5.8125rem);
          padding-block-end: clamp(3.75rem, 1.5rem + 5.0613vw, 5.8125rem);
}
.zara__title img {
  inline-size: clamp(5.9375rem, 3.625rem + 9.826vw, 11.9375rem);
  aspect-ratio: 191/81;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 3.4375rem;
}
.zara__announcement p {
  font-family: "Roboto";
  font-size: 1.625rem;
  font-size: clamp(1rem, 0.75rem + 1.0235vw, 1.625rem);
  line-height: 1.53;
  text-transform: capitalize;
  -webkit-margin-after: clamp(1rem, 0.1875rem + 3.5312vw, 3.4375rem);
          margin-block-end: clamp(1rem, 0.1875rem + 3.5312vw, 3.4375rem);
}
.zara__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.2759em;
  padding-block: 0.6552em;
  padding-inline: 0.8966em;
  text-align: center;
  background-color: #fff;
  color: #1f2933;
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.125rem, 0.85625rem + 1.1259vw, 1.1875rem);
  line-height: 1.1724;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.zara__button:hover {
  color: #fff;
}
.zara__logo {
  position: absolute;
  z-index: -1;
  inline-size: clamp(20rem, 10.1164rem + 42.1699vw, 45.75rem);
  aspect-ratio: 732/309;
  -o-object-fit: contain;
     object-fit: contain;
  inset-block-start: 3.1875rem;
  inset-inline-end: -3.5rem;
}