body {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-feature-settings: 'clig' off, 'liga' off;
}

// "clig" off вимикає контекстні лігатури. Контекстні лігатури - це спеціальні форми символів, які використовуються в певних контекстах для поліпшення читабельності.
// "liga" off вимикає стандартні лігатури. Лігатури - це сполучення двох або більше символів в один для створення естетично привабливих пар символів, наприклад, "fi" або "fl".

.wrapper {
    overflow: clip;
    min-block-size: 100%;
    display: flex;
    flex-direction: column;
}

[class*='__container'] {
    max-width: toRem(1320);
    margin-inline: auto;
    padding-inline: toRem(15);
}

@media (any-hover: hover) {
    a:hover {
        color: #e74848;
    }
}
// Прибираємо хрестик з input
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    display: none;
}

// input::-ms-clear {
//     display: none;
// }

// прибираємо скрол сторінки при відкритому бургері
.open body {
    overflow: hidden;
}

.btn {
    align-items: center;
    background: #1e2832;
    color: #fff;
    transition: all 0.3s ease-in-out;
    &:hover {
        background: #ff6f61;
    }
}
