.main {
    // .main__brands
    &__brands {
        margin-block-end: clamp(toRem(48), toRem(32) + 4.2989vw, toRem(90));
    }
}
.brands {
    // .brands__container
    // &__container {
    // }

    // .brands__list
    &__list {
        display: flex;
        flex-wrap: nowrap;
        gap: toRem(14) toRem(10);
        justify-content: space-around;
        align-items: center;
    }

    // .brands__item
    &__item {
        position: relative;
        flex: 0 toRem(200);
        aspect-ratio: 200 / 70;
        @media (max-width: toEm(800)) {
            flex: 0 0 toRem(140);
        }
    }

    // .brands__link
    // &__link {
    // }

    // .brands__image
    &__image {
        position: absolute;
        inset: 0;
        inline-size: 100%;
        block-size: 100%;
        object-fit: contain;
    }
}
