.header {
    background: rgba(30, 40, 50, 0.05);
    // .header__container
    &__container {
    }

    // .header__wrapper
    &__wrapper {
    }

    // .header__top
    &__top {
    }

    // .header__bottom
    &__bottom {
    }
}
.top-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: toRem(31);
    padding-bottom: toRem(25);
    border-bottom: toRem(1) solid #e3e3e3;
    margin-bottom: toRem(30);
    gap: 0.625rem min(0.5101rem + 1.0235vw, 1.375rem);
    @media (max-width: toEm(997.98)) {
        margin-bottom: toRem(20);
    }

    // .top-header__search
    &__search {
        display: flex;
        align-items: center;
        gap: toRem(10);
        border: toRem(1) solid #e3e3e3;
        border-radius: toRem(8);
        padding: toRem(4);
        &:focus-within {
            border: toRem(1) solid #FF6F61;
        }
    }

    // .top-header__button
    &__button {
        @media (max-width: toEm(997.98)) {
            img {
                width: toRem(35);
                height: toRem(35);
            }
        }
        @media (max-width: toEm(460)) {
            img {
                width: toRem(25);
                height: toRem(25);
            }
        }
    }

    // .top-header__input
    &__input {
        color: #e74848;
        @media (max-width: toEm(650)) {
            display: none;
        }
    }

    // .top-header__logo
    &__logo {
        flex: 0 0 toRem(180);
        @media (max-width: toEm(460)) {
            flex-basis: toRem(150);
        }
    }

    // .top-header__actions
    &__actions {
    }
}

.actions-header {
    display: flex;
    gap: toRem(22);
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    @media (max-width: toEm(460)) {
        gap: toRem(5);
    }

    // .actions-header__account
    &__account,
    &__shopping {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    // .actions-header__icon
    &__icon {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (max-width: toEm(997.98)) {
            width: toRem(35);
            height: toRem(35);
        }
        @media (max-width: toEm(460)) {
            width: toRem(25);
            height: toRem(25);
        }
    }

    // .actions-header__text
    &__text {
        @media (max-width: toEm(997.98)) {
            display: none;
        }
    }

    // .actions-header__shopping
    &__shopping {
    }

    // .actions-header__burger
    &__burger {
        display: none;
        position: relative;
        justify-content: flex-end;
        align-items: center;
        width: toRem(30);
        height: toRem(18);
        cursor: pointer;
        span {
            width: 80%;
            height: toRem(2);
            background-color: #1e2832;
            transform: scale(1);
            transition: all 0.3s ease-in-out;
        }
        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: toRem(2);
            background-color: #1e2832;
            transition: all 0.3s ease;
        }
        &::after {
            top: 0;
        }
        &::before {
            bottom: 0;
        }

        &.active {
            span {
                transform: scale(0);
            }
            &::before {
                top: 50%;
                transform: translateY(-50%);
                transform: rotate(45deg);
            }

            &::after {
                top: 50%;
                transform: translateY(-50%);
                transform: rotate(-45deg);
            }
        }
        @media (max-width: toEm(997.98)) {
            display: flex;
        }
    }
}

.bottom-header {
    // .bottom-header__navigation
    &__navigation {
    }

    // .bottom-header__list
    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: toRem(30);
        row-gap: toRem(20);
        justify-content: space-between;
        @media (max-width: toEm(997.98)) {
            display: none;
            flex-direction: column;
            align-items: center;
            position: fixed;
            width: 100%;
            height: auto;
            z-index: 50;
            row-gap: toRem(10);
            background-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(toRem(5));
        }

        // .bottom-header__item
        &__item {
        }
    }
}
.open {
    display: flex;
}
