.main {
    // .main__popular
    &__popular {
        margin-bottom: toRem(140);
    }
}
.popular {
    // .popular__container
    &__container {
        @media (88.875em <= width) {
            position: relative;
        }
    }
    // .popular__title
    &__title {
        color: #000;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: clamp(1.5rem, 1.2601rem + 1.0235vw, 2rem);
        text-transform: uppercase;
        @media (88.875em <= width) {
            position: absolute;
            inset-block-end: 0.5rem;
            inset-inline-end: 1.875rem;
            writing-mode: vertical-rl;
            transform: rotate(180deg) translateX(100%);
        }
        @media (width < 88.875em) {
            margin-block-end: clamp(0.75rem, 0.4621rem + 1.2282vw, 1.5rem);
        }
    }

    // .popular__container
    &__content {
        display: grid;
        gap: toRem(24);
        grid-template: repeat(2, 1fr) / repeat(
                auto-fill,
                minmax(toRem(250), 1fr)
            );
    }

    // .popular__item
    &__item {
        // працює лише на екранах більш за 550 рх (first mobile)
        @media (min-width: 34.375em) {
            &:nth-child(10n + 1),
            &:nth-child(10n + 8) {
                grid-column: span 2;
                grid-row: span 2;
            }
        }
    }

    // .popular__img
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1 / 1; /* зробили квадратними зображення - співвідношення сторін 1 к 1 */
    }
}
