.main {
    // .main__promo

    &__promo {
        background: rgba(30, 40, 50, 0.05);
        padding-block: clamp(1.875rem, 0.284rem + 7.07vw, 6.25rem);
    }
}
.promo {
    // .promo__container

    &__container {
    }

    // .promo__instagram

    &__instagram {
        margin-block-end: clamp(toRem(24), toRem(9.712) + 4.47vw, toRem(70));
    }

    // .promo__subscribe

    &__subscribe {
    }
}
.instagram {
    // .instagram__title

    &__title {
        margin-block-end: clamp(1.25rem, 0.341rem + 4.04vw, 3.75rem);
    }

    // .instagram__products

    &__products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: clamp(0.75rem, 0.517rem + 1.17vw, 1.5rem);
    }

    // .instagram__item

    &__item {
    }

    // .instagram__link

    &__link {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: url(../img/promo/instagram.svg) center / 3rem 3rem
                    no-repeat,
                rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    // .instagram__img

    &__img {
    }
}

.subscribe {
    // .subscribe__title

    &__title {
        margin-block-end: clamp(1.563rem, 0.449rem + 4.95vw, 4.625rem);
    }

    // .subscribe__form

    &__form {
        display: flex;
        gap: clamp(0.75rem, 0.4142rem + 1.433vw, 1.625rem);
        max-inline-size: 47.5rem;
        margin-inline: auto;
    }

    // .subscribe__address

    &__address {
        flex: 1;
        inline-size: 0;
        padding: 0.5rem 0.9375rem;
        border-block-end: 0.125rem solid;
        color: rgba(30, 40, 50, 0.5);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        line-height: 1.1875;
    }

    // .subscribe__submit

    &__submit {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.375rem 0.9375rem 0.625rem;
        border-block-end: 0.125rem solid;
        cursor: pointer;
        color: rgb(30, 40, 50);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        line-height: 1.1875;
        text-transform: uppercase;
    }
}
@media (any-hover) {
    .instagram__link:hover::after {
        opacity: 1;
    }
}
